@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* navbar design */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* 1. Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* padding + width যোগে overflow হবে না */
    /* Responsive design বানানোর সময় সব element এ box-sizing: border-box; দিলে padding + border add হলেও element width control এ থাকে। */
}

/* Header */
header {
    background-color: #150d31fb;
    margin-top: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}


.navlink {
    display: flex;
    gap: 32px;
}

.nav-items {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    opacity: 90%;
}


.nav-btn {
    width: 135px;
    height: 44px;
    border-radius: 30px;
    background: linear-gradient(30deg, #F7E93F 15%, #FB09B4, #9100F8);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 15px rgb(255, 0, 234);
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    cursor: pointer;
}

.line {
    border: none;
    height: 1px;
    background-color: #7c63b8;
    margin-top: 0;
}

.mobile-icon {
    display: none;
}

/*  First section design */

.Abba {
    position: relative;
    background-image: url('B13-A02-TechWave/assets/hero-bg.png');
    height: 42.125rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.micro {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* perfectly center overlay */

    width: 350px;
    height: 350px;
    background-image: url('B13-A02-TechWave/assets/hero-circle.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* Background image পুরোপুরি দেখা যাবে, কিন্তু কখনোই কাটা (crop) হবে না। */
    background-position: center;
}

.mic-img {
    margin-left: 34%;
    margin-top: 23%;
    animation: ghuro 2s linear 2;
}

@keyframes ghuro {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Tex design */
.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 28rem;
}

.new {
    background-color: #00FF88;
    width: 5rem;
    height: 2.3rem;
    border-radius: 1.25rem;
    color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15rem;
    margin-left: 15.6rem;
    box-shadow: -5px 10px 10px rgba(117, 42, 238, 0.959);
    font-weight: 600;

}

.tittle {
    font-weight: 800;
    font-size: 3.8rem;
}

.description {
    /* margin-top: -28px; */
    margin-bottom: 0.8rem;
    opacity: 80%;

}

.first-btn {
    width: 11.8rem;
    align-items: center;
    justify-content: center;
}

.emni {
    visibility: hidden;
}

.second-btn {
    width: 9.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.75rem;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #00FF88;
    color: #00FF88;
    font-weight: 600;
    background: transparent;
    /* background remove korte eta use hoy */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.second-btn:hover {
    background-color: #9100F8;
    border: 1px solid white;
    color: white;
}

.two-btn {
    display: flex;
    gap: 0.6rem;
}

.break {
    display: none;
}

/* section two design */
.section-two {
    background-color: #130b2cfb;
}

.main-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-tittle {
    font-weight: 700;
    font-size: 2.8rem;
}

.main-description {
    opacity: 80%;
}

.ektu {
    width: 80vw;
    margin: auto;
}

/* four div ba car design */
.four-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.same {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding-bottom: 5rem;
}

.same-title {
    color: #00FF88;
    font-weight: 900;
    font-size: 2.8rem;
}

.descript {
    color: white;
    word-spacing: 3px;
}

/* section Three  five div ba card*/

.section-three {
    background-color: #230E3D;
    color: #FFFFFF;
    padding: 1.4rem 8%;
    padding-bottom: 3.5rem;
}

.five-card-title {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

.for-padding {
    /* border: 2px solid black; */
    padding: 3rem 1.5rem;
    border-radius: 2.5rem;
    background-color: #351165;
}

.five-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1.3rem;
}

.card1 {
    grid-column: 1/2;
    grid-row: 1/3;
    ;
}

.card2 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.card3 {
    grid-column: 2/4;
    grid-row: 2/3;
}

.card4 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.card5 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.first-div-center {
    padding-top: 4rem;
}

.five-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.five-descript {
    opacity: 70%;
}

/* section four 3 div design */
.four, .five {
    background-color: #150d31fb;
    color: #FFFFFF;
}

.display-flex {
    display: flex;
}

.featured-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;

    max-width: 1200px;
    margin: 0 auto;      

    padding-left: 2rem;  
    padding-right: 2rem;
    padding-bottom: 3.5rem;
}

/* Card */
.fetured-div {
    background-color: #351165;
    border-radius: 20px;
    width: 100%;           
    max-width: 23rem;      
    height: 27.5rem;
}
.youtube{
    width: 23rem;
    height: 13.3rem;
    border-radius: 18px 18px 0 0;

}
.deep{
    padding: 1.4rem;
}

/* section-five */
.five{
    padding: 1.4rem 8%;
    padding-bottom: 3.5rem;
}
.five-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #351165;
    padding: 40px;
    border-radius: 20px;
}
.alex{
    font-weight: 600;
    font-size: 32px;
}
.alex-descript{
    opacity: 70%;
}

@media screen and (max-width: 576px) {

    .mobile-icon,
    .break {
        display: block;
        /* mobile এ show */
    }

    .navlink,
    .mobile-hide {
        display: none;
        /* mobile menu hide */
    }

    /* Four div */
    .four-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-auto-rows: auto;  */
        gap: 0.3rem;
    }

    #br-close {
        display: none;

    }


    /* yfyutfjuyg */
    .Abba {
        background-image: url('B13-A02-TechWave/assets/Image.png');
        height: 554px;
    }

    .micro {
        width: 200px;
        height: 200px;
        top: 30%;
    }

    .mic-img {
        margin-left: 34%;
        margin-top: 23%;
        width: 4rem;
    }

    .tittle {
        font-size: 2.5rem;
    }

    .description {
        font-size: 1rem;
    }

    .container {
        padding-top: 20rem;
    }

    .new {
        margin-top: -8.5rem;
        margin-left: 8.8rem;

    }

    /* jguygu */

    /* section Three  five div ba card*/
    .five-div {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }

    .five-div>div {
        grid-column: 1 / 2;
        grid-row: auto;
        /* প্রতিটা div নিজের auto row নেবে */
    }


    /* section four 3 div design */
    .featured-section {
        grid-template-columns: 1fr;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-items: center;
    }

    /* Section Five */
    .five-section{
        flex-direction: column;
        text-align: center;
    }
}